<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout :: head"></head>

<body>
<header th:replace="fragments/layout :: header"></header>

<div class="container main-content p-lg-5 p-xl-5">
    <h1 class="text-center">All Lenders</h1>
    <div class="shadow rounded bg-white">
        <table class="table table-hover table-bordered">
            <thead class="table-head text-white">
            <tr>
                <th scope="col">Username</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">View Lender</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="lender : ${lenders}">
                <th scope="row" th:text="${lender.getUsername()}">username</th>
                <td th:text="${lender.getFirstName()}">first</td>
                <td th:text="${lender.getLastName()}">last</td>
                <td><a href="#" class="btn btn-link p-0">View</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>



</body>

<span th:replace="fragments/layout :: javascript"></span>
</html>