<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout :: head"></head>

<body>
<header th:replace="fragments/layout :: header"></header>
<div class="container main-content p-5">
    <div class="row">
        <div class="col-md-6">
            <h1 th:text="${lender.getUsername()}"></h1>
            <div class="card p-4 hoverable">
                <h5><span class="h5">ID: </span>
                    <span th:text="${lender.getId()}"></span></h5>
                <hr>
                <h5><span class="h5">First name: </span>
                    <span th:text="${lender.getFirstName()}"></span></h5>
                <hr>
                <h5><span class="h5">Last name: </span>
                    <span th:text="${lender.getLastName()}"></span></h5>
                <hr>
                <h5><span class="h5">Biography: </span><br>
                    <span th:text="${lender.getBio()}"></span></h5>
            </div>
        </div>

        <div class="col-md-6">
            <h1>Books to Lend</h1>
            <div class="card p-4 mb-4 hoverable">
                <h5 th:each="book : ${booksToLend}" class="border-bottom py-2">
                    <span class="h5">Title: </span>
                    <span th:text="${book.getTitle()}"></span>
                    <a th:href="@{'/books/' + ${book.getIsbn()}}"
                       class="btn btn-lg btn-link p-0">View </a>

                    <span th:if="${!loggedInUserName.equals(lender.getUsername())}">
                        <a th:href="@{'/books/borrow/' + ${book.getIsbn()}}"
                           class="btn btn-lg btn-link p-0">Borrow</a>
                    </span>
                </h5>
                <h5 th:if="${booksToLend.isEmpty()}">
                    Add a new book to loan out <a th:href="@{/add/book}">here</a>.
                </h5>
            </div>

            <h1>Loaned Books</h1>
            <div class="card p-4 mb-4 hoverable">
                <h5 th:each="book : ${loanedBooks}" class="border-bottom py-2">
                    <span class="h5">Title: </span>
                    <span th:text="${book.getTitle()}"></span>

                    (<a th:href="@{'/lenders/' + ${book.getBorrower().getUsername()}}"
                        th:text="${book.getBorrower().getUsername()}"
                        class="btn btn-lg btn-link p-0"></a>)

                    <a th:href="@{'/books/' + ${book.getIsbn()}}"
                       class="btn btn-lg btn-link p-0">View </a>
                </h5>
                <h5 th:if="${loanedBooks.isEmpty()}">
                    No users are currently borrowing your books.
                </h5>
            </div>

            <h1>Borrowed Books</h1>
            <div class="card p-4 mb-3 hoverable">
                <h5 th:each="book : ${borrowedBooks}" class="border-bottom py-2">
                    <span class="h5">Title: </span>
                    <span th:text="${book.getTitle()}"></span>
                    <a th:href="@{'/books/' + ${book.getIsbn()}}"
                       class="btn btn-lg btn-link p-0">View </a>

                    <span th:if="${loggedInUserName.equals(lender.getUsername())}">
                        <a th:href="@{'/books/return/' + ${book.getIsbn()}}"
                           class="btn btn-lg btn-link p-0">Return</a>
                    </span>
                </h5>
                <h5 th:if="${borrowedBooks.isEmpty()}">
                    View books that you can borrow <a th:href="@{/lenders/all}">here</a>.
                </h5>
            </div>
        </div>
    </div>
</div>
</body>

<span th:replace="fragments/layout :: javascript"></span>
</html>