/* Main Styles */
body {
    background-color: #DADDD8;
}

.card-body {
    background-color: #FAFAFF;
}

.card-columns {
    column-count: 4;
}

.card-img-top {
    opacity: 0.95;
    background-color: #ECEBE4;
}

.btn-link {
    color: #4285F4 !important;
}

.form-group {
    margin-bottom: 20px;
}

.jumbotron {
    background-image: url("../images/header.jpg");
    background-color: #1C1C1C;
    text-shadow: 0 0 10px black;
}

label {
    font-size: 1.1rem;
}

.login-form {
    width: 500px;
}

.navbar {
    background-color: #1C1C1C;
}

.nav-item:not(:last-child) {
    border-right: 1px solid #EEF0F2;
}

.table-head {
    background-color: #1C1C1C;
}

@media only screen and (min-width: 750px) {
    .main-form {
         width: 750px;
    }
}
