/* Main Styles */

.jumbotron {
    background-image: url("../images/header.jpg");
    background-color: #1C1C1C;
    text-shadow: 0 0 10px black;
}

.navbar {
    background-color: #1C1C1C;
}

.nav-item:not(:last-child) {
    border-right: 1px solid #EEF0F2;
}

.main-content {
    background-color: #DADDD8;
}

.btn-link {
    color: #4285F4;
}

.card-body {
    background-color: #FAFAFF;
}

.card-img-top {
    opacity: 0.95;
    background-color: #ECEBE4;
}
