<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout :: head"></head>

<body>
    <header th:replace="fragments/layout :: header"></header>

    <div class="main-content p-5 ml-5 mr-5">
        <!-- card deck -->
        <div class="card-deck">
            <!-- lenders card -->
            <div class="card mb-4 mx-lg-4 mx-xl-4 hoverable">
                <div class="view overlay">
                    <img class="card-img-top" th:src="@{/images/borrow.jpg}" alt="borrow">
                </div>

                <div class="card-body pb-1">
                    <h4 class="card-title"
                        th:text="#{home.lenders.title}">Lenders</h4>
                    <p class="card-text" th:text="#{home.lenders.desc}">
                        Book lending is alive and well! Why buy a new book when
                        you can crowd-source a collection of stories that will
                        keep you busy reading for years to come.
                    </p>

                    <a th:href="@{'/register'}" class="btn btn-link pr-2 pl-0 ml-0"
                       th:text="#{home.lenders.register}">Register</a>
                    <a th:href="@{'/lenders/all'}" class="btn btn-link pl-3"
                       th:text="#{home.lenders.view}">View Lenders</a>
                </div>
            </div>
            <!-- lenders card -->

            <!-- books card -->
            <div class="card mb-4 mx-lg-4 mx-xl-4 hoverable">
                <div class="view overlay">
                    <img class="card-img-top" th:src="@{/images/book.jpg}" alt="book">
                </div>

                <div class="card-body pb-1">
                    <h4 class="card-title"
                        th:text="#{home.books.title}">Books</h4>
                    <p class="card-text" th:text="#{home.books.desc}">
                        Browse a selection of over 1000 book titles. You'll find a title
                        in any genre you like, including mysteries, science-fiction and romance.
                        A book for every day!
                    </p>

                    <a href="#" class="btn btn-link pr-2 pl-0 ml-0"
                       th:text="#{home.books.myBooks}">My Books</a>
                    <a href="#" class="btn btn-link pl-3"
                       th:text="#{home.books.addBook}">Add a Book</a>
                </div>
            </div>
            <!-- books card -->

            <!-- borrowed books card -->
            <div class="card mb-4 mx-lg-4 mx-xl-4 hoverable">
                <div class="view overlay">
                    <img class="card-img-top" th:src="@{/images/lending.png}" alt="lending">
                </div>

                <div class="card-body pb-1">
                    <h4 class="card-title"
                        th:text="#{home.borrowed.title}">Borrowed Books</h4>
                    <p class="card-text" th:text="#{home.borrowed.desc}">
                        Connect with 100's of other users from your area. User's are
                        expected to take care of any borrowed materials and to return
                        them in a timely manner.
                    </p>

                    <a href="#" class="btn btn-link pr-2 pl-0 ml-0"
                       th:text="#{home.borrowed.borrow}">Borrow a Book</a>
                    <a href="#" class="btn btn-link pl-3"
                       th:text="#{home.borrowed.return}">Return a book</a>
                </div>
            </div>
            <!-- borrowed books card -->
        </div>
        <!-- card deck -->
    </div>
</body>

<span th:replace="fragments/layout :: javascript"></span>
</html>